<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>about</title>
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>this site was created by bald. it uses mapbox and weathrstack</p>
            <img class="portrait" src="/img/pic.png">
        </div>
        
        {{>footer}}
    </body>
</html>